.header-style-24 {
  color: var(--secondary-100);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 30px;
}

.header-style-22 {
  color: var(--secondary-100);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 26px;
}

.header-style-20 {
  color: var(--secondary-100);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 22px;
}

.header-style-18 {
  color: var(--secondary-100);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 22px;
}

.header-style-16 {
  color: var(--secondary-100);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 18px;
}

.header-style-18-bold {
  color: var(--secondary-100);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 18px;
}

.header-style-16-bold {
  color: var(--secondary-100);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 16px;
}

.header-style-14-bold {
  color: var(--secondary-100);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 16px;
}

.header-style-14-semibold {
  color: var(--secondary-100);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 16px;
}

.header-style-12-mineshaft {
  color: var(--secondary-100);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 14px;
}

.header-style-12-shark {
  color: var(--neutral-light-500);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 14px;
}

.header-style-48 {
  color: var(--secondary-100);
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}

.header-style-36 {
  color: var(--secondary-100);
  font-size: 36px;
  line-height: 1;
}

.header-style-12 {
  color: var(--secondary-100);
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.header-style-13 {
  color: var(--secondary-100);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.header-style-14 {
  color: var(--secondary-100);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

// Body text
.body-style-12--lighter {
  color: var(--neutral-dark-200);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 16px;
}

.body-style-14--lighter {
  color: var(--neutral-dark-200);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 18px;
}

.body-style-16--lighter {
  color: var(--neutral-dark-200);
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 18px;
}

.body-style-14 {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 18px;
}

.body-style-12 {
  color: var(--neutral-light-500);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 16px;
}

.body-style-11 {
  color: var(--neutral-light-500);
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 11px;
}

.body-style-10-italic {
  color: var(--neutral-light-500);
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: -0.2px;
  line-height: 16px;
}

.body-style-12-bold {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

.body-style-14-italic {
  color: var(--neutral-light-500);
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0px;
  line-height: 18px;
}

.body-style-16 {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
}

.body-style-16-bold {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.body-style-18 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.25;
}
