// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'themes/theme-colors' as palette;
@use 'themes/color-variables' as colors;
@use 'sass:map';

$theme: mat.define-theme(
  (
    color: (
      primary: palette.$primary-palette,
      tertiary: palette.$tertiary-palette,
    ),
  )
);

@include colors.color-variables;

html {
  @include mat.all-component-themes($theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  button[color='warn'] {
    @include mat.button-overrides(
      (
        filled-container-color: map.get(
            map.get(palette.$palettes, secondary),
            40
          ),
        filled-label-text-color: map.get(
            map.get(palette.$palettes, neutral),
            100
          ),
      )
    );
  }

  button[color='success'] {
    @include mat.button-overrides(
      (
        filled-container-color: map.get(
            map.get(palette.$palettes, tertiary),
            40
          ),
        filled-label-text-color: map.get(
            map.get(palette.$palettes, neutral),
            100
          ),
      )
    );
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
